[worldserver]

#####################################
#    mod-morphsummon configuration
#####################################

# Announce the module when the player logs in?

MorphSummon.Announce = 0

# Model IDs for the summoned permanent creatures

MorphSummon.Warlock.Imp = "黑色小鬼,4449,翡翠小鬼,7552,红色小鬼,10811,外域小鬼（红色）,16888,外域小鬼（紫色）,16889,外域小鬼（黄色）,16890,外域小鬼（白色）,16891"

MorphSummon.Warlock.Voidwalker = "虚空行者,1132,外域虚空行者 蓝/绿护甲,16634,外域虚空行者 蓝/紫护甲,17081,外域虚空行者 蓝/蓝护甲,17298,外域虚空行者 蓝/红护甲,18366,外域虚空行者 紫/蓝护甲,18953,虚空召唤者 蓝色,17704,虚空召唤者 紫色,17746,虚空召唤者 红色,19884,虚空领主 紫色/紫色护甲,16635,虚空领主 蓝色/红色护甲,18170,虚空领主 紫色/红色护甲,18958,虚空领主 紫色/蓝色护甲,19883,虚空领主 红色/蓝色护甲,26214,虚空怨灵 紫色,18050,虚空怨灵 蓝色,18069,虚空怨灵 红色,18919"

MorphSummon.Warlock.Succubus = "魅魔,4162,魅魔品红,159,魅魔蓝,2737,魅魔红,10925"

MorphSummon.Warlock.Felhunter = "地狱犬,850,法师猎手蓝,24906,法师猎手绿,24907,法师猎手红,24908,猎犬蓝,3916,猎犬灰,6195,猎犬紫,7890,猎犬红,8180,猎犬白,14312,寄生虫幼体,10993"

MorphSummon.Warlock.Felguard = "黑暗守卫黑,14255,黑暗守卫蓝,5048,黑暗守卫黄,5049,黑暗守卫红,18342,黑暗守卫白,19901"

MorphSummon.DeathKnight.Ghoul = "诺森德食尸鬼白,24992,诺森德食尸鬼蓝,24993,诺森德食尸鬼黑,24994,诺森德食尸鬼红,24995,食尸鬼灰,137,食尸鬼红,414,食尸鬼白,519,食尸鬼蓝,547,僵尸黑（单臂）,1196,僵尸绿（单臂）,1197,僵尸海绿（单臂）,1198,僵尸黑（箭头）,1200,僵尸绿（箭头）,1201,僵尸海绿（箭头）,1202,僵尸海绿（剑）,24707,骷髅（头盔）,158,绿色骷髅（头盔）,201,深青色骷髅（头盔）,535,骷髅白,7550,骷髅黄,7555,骷髅蓝,9783,骷髅红,9784,骷髅绿,9785,骷髅黑,9786,骷髅（无头盔）,27355,深青色骷髅（无头盔）,27356,绿色骷髅（无头盔）,27357"

MorphSummon.Mage.WaterElemental = "水元素,525,绿色水元素,4907,红色水元素,17045,紫色水元素,27029"

# List with alternative item IDs for the Felguard weapon

MorphSummon.Warlock.Felguard.Weapon = "斧头（默认）,22199,剑 1,1899,剑 2,10613,剑 3,10614,剑 4,12889,剑 5,12902,剑 6,13504,狼牙棒 1,2809,狼牙棒 2,5491,狼牙棒 3,12950,狼牙棒 4,30670,斧头 1,5287,斧头 2,14643,斧头 3,14870,长柄武器 1,28365"

# List with visual effect spells; the polymorph NPC will randomly choose one to cast after waiting between "minTimeVisualEffect" and "maxTimeVisualEffect" (values in milliseconds)

MorphSummon.RandomVisualEffectSpells = "45959,50772"
MorphSummon.MinTimeVisualEffect = 30000
MorphSummon.MaxTimeVisualEffect = 90000

# List containing main hand equipment; the polymorph NPC will randomly pick one when (re)spawned

MorphSummon.RandomMainHandEquip = "28658,32374"
